#clock {
    width: 80%;
    margin: auto;
}

.clock_bg {
    /*background: #A6A6A8;*/
    padding: 10px;
    text-align: center;
    /*display: box;*/
}

h1 {
    /*color: #DBF9F4;*/
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}


/*Day Theme*/

#day_theme {
    background-color: #F7EFC0;
}

#day_theme .clock_bg {
    background: #A6A6A8;
}

#day_theme h1 {
    color: #DBF9F4;
}


/*Night Theme*/

#night_theme {
    background: #474448;
}

#night_theme .clock_bg {
    background: #D8CBC7;
}

#night_theme h1 {
    color: #2D232E;
}