#clock {
    width: 80%;
    margin: auto;
}

.clock_bg {
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

button {
    margin: 10px 0 0 0;
    width: 200px;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.theme_btn {
    display: block;
    width: 200px;
    margin: auto;
}


/*Day Theme*/

.day_theme {
    background-color: #F7EFC0;
    transition: all 3s;
}

.day_theme .clock_bg {
    background: #A6A6A8;
}

.day_theme h1 {
    color: #DBF9F4;
}

.day_theme button {
    background: #A6A6A8;
    color: #DBF9F4;
}

.day_theme button:hover {
    background: #E6FDFF;
    color: #A6A6A8;
}


/*Night Theme*/

.night_theme {
    background: #474448;
    transition: all 3s;
}

.night_theme .clock_bg {
    background: #D8CBC7;
}

.night_theme h1 {
    color: #2D232E;
}

.night_theme button {
    background: #D8CBC7;
    color: #2D232E;
}

.night_theme button:hover {
    background: #2D232E;
    color: #D8CBC7;
}


/*icon*/

#icon {
    display: block;
    width: 50px;
    margin: 10px auto 10px auto;
}

p {
    font-size: 10px;
}